.flashcard
{
    perspective: 1000px;
    margin: 10px;
}

.flashcard-inner
{
    position: relative;
    width: 200px;
    height: 150px;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    cursor: pointer;
}

.flashcard-front, .flashcard-back
{
    position:absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border: 1px solid #ddd;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.flashcard-front
{
    background-color: #f8f8f8;
    
}

.flashcard-back
{
    background-color: #f8f8f8;
    transform: rotateY(180deg);
}
/*Targets the entire body of the html document*/
body
{
    font-family: Arial, sans-serif;
    background-color: lightgray;
    /*margin 0 makes sure content aligns with edges viewport, 
    padding 0 removes unnecessary spacing around the body content */
    margin: 0;
    padding: 0
}

/*styles a container element that holds the main content of your app*/
.container
{
    max-width: 500px;
    /* centers container horizontally and adds 50 px of vertical margin above and below*/
    margin: 200px auto;
    /* adds 20px of padding inside container for spacing between content and edges*/
    padding: 20px;
    background: white;
    /*applies shadow effect around the container to give lifted look*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* rounds corner for softer look*/
    border-radius: 8px;
}

/*styles main heading in page*/
h1
{
    text-align: center;
    color: darkgray;
}

p
{
    text-align: center;
    color: darkgray;
}

/*styles form element*/
form
{
    /*flexbox layout allows easy alignment and spacing layout*/
    display: flex;
    /*stacks the form elements (input and button) vertically */
    flex-direction: column;
}

/*targets all text input fields within the form*/
input[type = "text"]
{
    margin: 10px;
    padding: 10px;
    font-size: 16px;
}

button
{
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    /*changes cursor to pointer when over it*/
    cursor: pointer;
    border-radius: 5px;
}

button:hover
{
    background-color: #0056b3;
}

ul
{
    /*removes bullet point from the list items */
    list-style-type: none;
    padding: 0;
}

/*styles buttons within list*/
li button
{
    background-color: red;
    color: white;
    border:none;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}

li button:hover
{
    background-color: darkred;
}

.flashcard-list ul
{
    list-style-type: none;
    padding: 0;
}